<div class="row gx-3">
    <div class="col-sm-12">
        <form method="post" asp-action="PostChangePassword" asp-controller="UserPanel" asp-area="">
            <div class="card mb-3">
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="card-header">
                        <h5 class="card-title">@TempData["ErrorMessage"]</h5>
                    </div>
                }
                <div class="card-header">
                    <h5 class="card-title">تغییر رمز عبور</h5>
                </div>
                <div class="card-body">
                    <!-- Row starts -->
                    <div class="row gx-3">
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label class="form-label" for="CurrentPassword">رمز عبور فعلی</label>
                                <input required type="text" class="form-control" name="CurrentPassword" id="CurrentPassword">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label class="form-label" for="NewPassword">رمز عبور جدید</label>
                                <input required type="text" class="form-control" name="NewPassword" id="NewPassword">
                            </div>
                        </div>
                    </div>
                    <!-- Row ends -->
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <button type="submit" class="btn btn-outline-info">ثبت</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>